<form name="container-form" class='mt-4' method="POST" action="/courses/handle-form-actions">
    <input class="form-check-input d-none" value="" name="courseIdList" id="courseIdList">
    <h3>Khoá học của tôi</h3>
    <a href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>
    <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">
                Chọn tất cả 
            </label>
        </div>
        <select name="action" class="form-control form-control-sm checkbox-select-all-options" aria-label="Default select example" required>
            <option selected value=""> Hành động</option>
            <option value="delete">Xoá</option>
        </select>
        <button class="btn btn-primary btn-sm disabled btn-check-all-submit" >Thực hiện</button>
    </div>

    <table class='table mt-4'>
        <thead>
            <tr>
                <th scope='col' colspan="2" class="text-center">#</th>
                <th scope='col'>Tên khoá học
                    {{{sortable 'name' _sort}}}
                </th>
                <th scope='col'>
                    Trình độ
                    {{{sortable 'level' _sort}}}
                </th>
                <th scope='col' colspan='2'>
                    Thời gian tạo
                    {{{sortable 'createdAt' _sort}}}
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{this._id}}" name='courseIds[]'>
                        </div>
                    </td>
                    <th scope='row'>{{ this._id}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a
                            href='/courses/{{this._id}}/edit'
                            class='btn btn-link'
                        >Sửa</a>
                        <a href='' class='btn btn-link' data-bs-toggle="modal" data-bs-target="#delete-course-modal" data-id="{{this._id}}">Xoá</a>
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="5" class="text-center">Không có khoá học,
                        <a href="/coures/create">Đăng khoá học</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    <p>Tìm thấy {{pagination.limit}} trên {{pagination.totalDocs}} kết quả</p>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {{#if pagination.hasPrevPage}}
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            {{/if}}
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            {{#if pagination.hasNextPage}}
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            {{/if}}
                        </ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>
</form>

{{!-- Confirm delete course --}}
<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xoá khoá học</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xoá khoá học này không?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xoá bỏ</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
      </div>
    </div>
  </div>
</div>

{{!-- DELETE HIDDEN FORM --}}
<form name="restore-course-form" method="POST"></form>
<form name="delete-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var courseId
        var deleteForm = document.forms['delete-course-form'];
        var containerForm = document.forms['container-form']
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var checkBoxAll = $('#checkbox-all')
        var checkAllSubmitBtn = $('.btn-check-all-submit')
        var courseItemCheckbox = $('input[name="courseIds[]"]')
        var courseIdList = $("#courseIdList")

        var trashForm = document.forms['trash-course-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');

        var exampleModal = document.getElementById('delete-course-modal')
        exampleModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            courseId = button.getAttribute('data-id')
        })

        btnDeleteCourse.onclick = function() {
            deleteForm.action = '/courses/' + courseId + '?_method=DELETE'
            deleteForm.submit()
        }

        //Checkbox all clicked
        checkBoxAll.change(function() {
            var isCheckedAll = $(this).prop('checked')
            courseItemCheckbox.prop('checked', isCheckedAll)
            renderCheckAllSubmitBtn()
            formatVariableItems()
        })

        courseItemCheckbox.change(function(){
            var isCheckAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length
            checkBoxAll.prop('checked', isCheckAll)
            renderCheckAllSubmitBtn()
            formatVariableItems()
        })

        checkAllSubmitBtn.on('submit',function (e) {
            var isSubmitable = !$(this).hasClass('disabled')
            if (!isSubmitable) {
                e.preventDefault()
            }
        })

        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="courseIds[]"]:checked').length;
            if(checkedCount > 0){
                checkAllSubmitBtn.removeClass('disabled')
            }else{
                checkAllSubmitBtn.addClass('disabled')
            }
        }

        function formatVariableItems(){
            var checkedCount = $('input[name="courseIds[]"]:checked');
            let result = [];
            for (var i = 0; i < checkedCount.length; i++) {
                if (checkedCount[i].checked) {
                    result.push(checkedCount[i].value)
                }
            }

            let test = courseIdList.attr('value',result)
        }
    })
</script>